.slateToolbar {
  display: flex;
  align-items: center;
  width: auto;
  padding: 12px;
  margin: 0;
  background: #F7F9FB;
  border: 1px solid #E8ECF0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.linkButtonWrapper {
  flex-direction: row;
  display: flex;
  position: relative;
}

.linkButton {
  fill: #546377;
  cursor: pointer;
  margin-right: 24px;

  &.active {
    fill: #08C0A0;
  }

  &.disabled {
    fill: #A9B5C4;
  }
}

