.slateEditable {
  position: relative;
}

.slateInput {
  white-space: normal !important; // TODO: why does slate put `white-space: pre-wrap;` to the input via style attribute?
  padding: 0 12px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
