.slateProviderContainer {
  position: relative;
  width: 100%;
  min-width: 50%;
  max-width: max-content;
  min-height: 300px;
  box-sizing: border-box;
  min-width: 190px;
  flex-wrap: wrap;
  border: 1px solid #E8ECF0;
  background: #80808008;

  height: 30vh;
  overflow: scroll;
}
