@import '../../../../ui/css/vars/all';
@import '../../../../ui/css/vars/colors';
@import '../../../../ui/css/mixins/base';

.videoButtonWrapper {
  flex-direction: row;
  display: flex;
  position: relative;
}

.videoButton {
  @include fillColor(editor);
  cursor: pointer;
  margin-right: 24px;

  &.active {
    fill: $colorBrand;
  }

  &.disabled {
    fill: $colorTextDisabledLight;
  }
}

.acceptLinkButton {
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 24px;
  height: 24px;
}

.videoInputWrapper {
  position: absolute;
  @include bg(secondary);
  padding: 8px;
  width: fit-content;
  width: -moz-fit-content;
  align-items: center;
  box-shadow: $shadow_1;
  font-size: 18px;
  top: 150%;
  z-index: 1000;
  display: none;

  &.active {
    display: flex !important;
  }
}

.videoFloatingControl {
  padding: 8px;
  font-size: 18px;
  border-radius: 8px;
  margin: 0 10px;
}

.videoApply {
  cursor: pointer;
}