.pageContainer {
  margin: 25px;
}

.rowsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: calc(100vh - 50px - 33px - 19px);

  & > :first-child {
    max-width: unset;
  }
}

.serializedCotainer {
  display: flex;
  gap: 15px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: anywhere;
  word-break: break-all;

  & * :first-child {
    display: block;
    text-decoration: underline;
    font-size: 1.25em;
  }
}

.serializedCotainerValueColumn, .serializedCotainerSlateJsonColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.serializedCotainerValueColumn {
  width: max-content;
  max-width: 50%;
}

.serializedCotainerSlateJsonColumn {
  flex: 1;
}

.serializedValueInner, .slateJsonValueInner {
  flex: 1;
  padding: 15px;
  background: #80808008;
  border: 1px solid #E8ECF0;
  overflow: scroll;
}


.serializedValueContainer, .slateJsonCotainer {
  flex: 1;
  margin-top: 15px;

  & > :first-child {
    display: block;
    margin-bottom: 15px;
    text-decoration: underline;
    font-size: 1.25em;
  }
}
