.slateToolbar {
  display: flex;
  align-items: center;
  width: auto;
  padding: 12px;
  margin: 0;
  background: #F7F9FB;
  border: 1px solid #E8ECF0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
