.slateToolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(42px, auto));
  grid-row-gap: 12px;
  padding: 12px;
  margin: 0;
  background: #F7F9FB;
  border: 1px solid #E8ECF0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 1;
}
