@import '../ui/css/vars/fonts';
@import '../ui/css/vars/all';
@import '../ui/css/vars/colors';
@import '../ui/css/mixins/base';

.rteWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  min-width: 190px;
  flex-wrap: wrap;
  border: 1px solid;
  @include border($primary: false, $type: editor);
}

.rteInputwrapper {
  width: 100%;
  display: flex;
  padding: 0;
}

.rteInput {
  width: calc(100% - 48px);
  min-height: 216px;
  padding: 24px 22px 48px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  @include textField();
  @include bg(secondary);

  &:focus {
    border: 1px solid ;
    @include border($primary: false, $type: editor);
  }
}

.content {
  min-height: 216px;
  padding: 24px 22px 48px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  @include textField();

  &:focus {
    border: 1px solid ;
    @include border($primary: false, $type: editor);
  }
}

.rteTitleWrapper {
  background-color: transparent;
  border: none;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  max-width: 1208px;
  flex-wrap: wrap;
  margin: 0 auto 32px auto;
  padding: 0;
  border-radius: 24px;
}

.rteContentWrapper { 
  position: relative;
  display: flex;
  max-width: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.75;
}

.inValid {
  border: 1px solid #FF0000 !important;

  &::placeholder {
    color: #FF0000 !important;
    -webkit-text-fill-color: #FF0000 !important;
    opacity: 1;
  }
}

.contentLengthCounter{ 
  position: absolute; 
  bottom: 48px;
  right: 24px;
}

.rteToolbar {
  display: flex;
  align-items: center;
  width: auto;
  padding: 24px;
  margin: 0;
  @include bg(secondary);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  @include border($primary: false, $type: editor);
}

.extra {
  margin-left: auto;
}
